In [53]:
## importing modules 

import dask.dataframe as dd
import cx_Oracle      as ora

# loading data for 2 - Wheeler 

df2Challan = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_CHALLAN.csv' , 
                         dtype = { 'ADDITIONALAMOUNT': 'float64',
                                   'BRANCHNAME2'     : 'object' ,
                                   'BRANCHNAME3'     : 'object' ,
                                   'PODATE2'         : 'object' ,
                                   'PODATE3'         : 'object' ,
                                   'PONO'            : 'object' ,
                                   'PONO2'           : 'object' ,
                                   'SBPNO'           : 'object' ,
                                   'TERMINALGROUPID' : 'float64'})

df2AChallan                = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_ARCHIVECHALLAN.csv'          )
df2ChargeSlab              = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_CHARGESLAB.csv'              )
df2ChallanDetail           = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_CHALLANDETAIL.csv'           )
df2AChallanDetail          = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_ARCHIVECHALLANDETAIL.csv'    )
df2ODAChallan              = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_ODARCHIVECHALLAN.csv'        )
df2ODAChallanDetail        = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_ODARCHIVECHALLANDETAIL.csv'  )
df2Charge                  = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_CHARGE.csv'                  )
df2ChargeType              = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_CHARGETYPE.csv'              )
df2ChargeAssignVehicleType = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_CHARGEASSIGNVEHICLETYPE.csv' )
df2VehicleCat              = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\2W\MVRDB_VEHICLECATEGORY.csv'         )


# loading data for 4 - Wheeler

df4Challan = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_CHALLAN.csv' , 
                         dtype = { 'BANKID'         : 'float64',
                                   'BRANCHNAME3'    : 'object' ,
                                   'BRANCHNAME4'    : 'object' ,
                                   'LOGINID'        : 'float64',
                                   'PODATE3'        : 'object' ,
                                   'PODATE4'        : 'object' ,
                                   'PONO2'          : 'object' ,
                                   'PONO3'          : 'object' ,
                                   'PONO4'          : 'object' ,
                                   'REMARKS'        : 'object' ,
                                   'TERMINALGROUPID': 'float64',
                                   'TOTAL'          : 'float64',
                                   'USERDETAILID'   : 'float64'})

df4AChallan = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_ARCHIVECHALLAN.csv' , 
                          dtype = { 'BANKID'         : 'float64',
                                    'BRANCHNAME3'    : 'object' ,
                                    'BRANCHNAME4'    : 'object' ,
                                    'LOGINID'        : 'float64',
                                    'PODATE3'        : 'object' ,
                                    'PODATE4'        : 'object' ,
                                    'PONO2'          : 'object' ,
                                    'PONO3'          : 'object' ,
                                    'PONO4'          : 'object' ,
                                    'REMARKS'        : 'object' ,
                                    'TERMINALGROUPID': 'float64',
                                    'TOTAL'          : 'float64',
                                    'USERDETAILID'   : 'float64'})

df4ChargeSlab = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_CHARGESLAB.csv' , 
                            dtype = { 'CHARGEID'    : 'float64',
                                      'CHARGETYPEID': 'float64',
                                      'ISACTIVE'    : 'float64',
                                      'LOGINID'     : 'float64'})

df4ChallanDetail  = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_CHALLANDETAIL.csv', 
                                dtype = { 'CHARGESLABID' : 'float64'})

df4AChallanDetail = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_ARCHIVECHALLANDETAIL.csv' , 
                                dtype = { 'CHARGESLABID' : 'float64'})

df4ODAChallan              = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_ODARCHIVECHALLAN.csv'        )
df4ODAChallanDetail        = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_ODARCHIVECHALLANDETAIL.csv'  ) 
df4Charge                  = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_CHARGE.csv'                  )
df4ChargeType              = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_CHARGETYPE.csv'              )
df4ChargeAssignVehicleType = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_CHARGEASSIGNVEHICLETYPE.csv' )
df4VehicleCat              = dd.read_csv(r'C:\Users\umair\Desktop\Excise BI\DataDump\4W\MVRDB_VEHICLECATEGORY.csv'         )


# Droping undesired Columns 

# for challan tables
df2Challan = df2Challan.drop([ 'CHALLANPATH' , 'PENWAIVEAUTH'     , 'REMARKS'        , 'PONO'            ,
                               'BRANCHNAME'  , 'LATEREGID'        , 'SBPNO'          , 'SBPDATE'         ,
                               'DESCRIPTION' , 'CHALLANSEQUENCES' , 'UPDATEDDATE'    , 'ISACTIVE'        ,
                               'LOGINID'     , 'PODATE'           , 'TEMPTERMINALID' , 'TERMINALGROUPID' ,
                               'BLOCK'       , 'PONO2'            , 'PONO3'          , 'PONO4'           ,
                               'POAMOUNT1'   , 'POAMOUNT2'        , 'POAMOUNT3'      , 'POAMOUNT4'       ,
                               'PODATE2'     , 'PODATE3'          , 'PODATE4'        , 'BRANCHNAME2'     ,
                               'BRANCHNAME3' , 'BRANCHNAME4'      , 'BANKID2'        , 'BANKID3'         ,
                               'BANKID4'     , 'MVRBRANCHID'      , 'OWNERID' ], axis = 1)
df4Challan = df4Challan.drop([ 'CHALLANPATH' , 'PENWAIVEAUTH'     , 'REMARKS'        , 'PONO'            ,
                               'BRANCHNAME'  , 'LATEREGID'        , 'SBPNO'          , 'SBPDATE'         ,
                               'DESCRIPTION' , 'CHALLANSEQUENCES' , 'UPDATEDDATE'    , 'ISACTIVE'        ,
                               'LOGINID'     , 'PODATE'           , 'TEMPTERMINALID' , 'TERMINALGROUPID' ,
                               'BLOCK'       , 'PONO2'            , 'PONO3'          , 'PONO4'           ,
                               'POAMOUNT1'   , 'POAMOUNT2'        , 'POAMOUNT3'      , 'POAMOUNT4'       ,
                               'PODATE2'     , 'PODATE3'          , 'PODATE4'        , 'BRANCHNAME2'     ,
                               'BRANCHNAME3' , 'BRANCHNAME4'      , 'BANKID2'        , 'BANKID3'         ,
                               'BANKID4'     , 'MVRBRANCHID'      , 'OWNERID' ], axis = 1)

df2AChallan = df2AChallan.drop([ 'CHALLANPATH' , 'PENWAIVEAUTH'     , 'REMARKS'         , 'PONO'           ,
                                 'BRANCHNAME'  , 'LATEREGID'        , 'SBPNO'           , 'SBPDATE'        ,
                                 'DESCRIPTION' , 'CHALLANSEQUENCES' , 'UPDATEDDATE'     , 'ISACTIVE'       ,
                                 'LOGINID'     , 'PODATE'           , 'TERMINALGROUPID' , 'PONO2'          ,
                                 'PONO3'       , 'PONO4'            , 'MVRBRANCHID'     , 'ARCHIVEOWNERID' ,
                                 'POAMOUNT1'   , 'POAMOUNT2'        , 'POAMOUNT3'       , 'POAMOUNT4'      ,
                                 'PODATE2'     , 'PODATE3'          , 'PODATE4'         , 'BRANCHNAME2'    ,
                                 'BRANCHNAME3' , 'BRANCHNAME4'      , 'BANKID2'         , 'BANKID3'        ,
                                 'BANKID4'     , 'DEALERINFOID' ], axis = 1)
df4AChallan = df4AChallan.drop([ 'CHALLANPATH' , 'PENWAIVEAUTH'     , 'REMARKS'         , 'PONO'           ,
                                 'BRANCHNAME'  , 'LATEREGID'        , 'SBPNO'           , 'SBPDATE'        ,
                                 'DESCRIPTION' , 'CHALLANSEQUENCES' , 'UPDATEDDATE'     , 'ISACTIVE'       ,
                                 'LOGINID'     , 'PODATE'           , 'TERMINALGROUPID' , 'PONO2'          ,
                                 'PONO3'       , 'PONO4'            , 'MVRBRANCHID'     , 'ARCHIVEOWNERID' ,
                                 'POAMOUNT1'   , 'POAMOUNT2'        , 'POAMOUNT3'       , 'POAMOUNT4'      ,
                                 'PODATE2'     , 'PODATE3'          , 'PODATE4'         , 'BRANCHNAME2'    ,
                                 'BRANCHNAME3' , 'BRANCHNAME4'      , 'BANKID2'         , 'BANKID3'        ,
                                 'BANKID4'     , 'DEALERINFOID' ], axis = 1)

df2ODAChallan = df2ODAChallan.drop([ 'CHALLANPATH' , 'PENWAIVEAUTH'     , 'REMARKS'         , 'PONO'             ,
                                     'BRANCHNAME'  , 'LATEREGID'        , 'SBPNO'           , 'SBPDATE'          ,
                                     'DESCRIPTION' , 'CHALLANSEQUENCES' , 'UPDATEDDATE'     , 'ISACTIVE'         ,
                                     'LOGINID'     , 'PODATE'           , 'TERMINALGROUPID' , 'PONO2'            ,
                                     'PONO3'       , 'PONO4'            , 'MVRBRANCHID'     , 'ODARCHIVEOWNERID' ,
                                     'POAMOUNT1'   , 'POAMOUNT2'        , 'POAMOUNT3'       , 'POAMOUNT4'        ,
                                     'PODATE2'     , 'PODATE3'          , 'PODATE4'         , 'BRANCHNAME2'      ,
                                     'BRANCHNAME3' , 'BRANCHNAME4'      , 'BANKID2'         , 'BANKID3'          ,
                                     'BANKID4'     , 'DEALERINFOID'     , 'PAYORDERAMOUNT2' , 'PAYORDERAMOUNT3' ], axis = 1)
df4ODAChallan = df4ODAChallan.drop([ 'CHALLANPATH' , 'PENWAIVEAUTH'     , 'REMARKS'         , 'PONO'             ,
                                     'BRANCHNAME'  , 'LATEREGID'        , 'SBPNO'           , 'SBPDATE'          ,
                                     'DESCRIPTION' , 'CHALLANSEQUENCES' , 'UPDATEDDATE'     , 'ISACTIVE'         ,
                                     'LOGINID'     , 'PODATE'           , 'TERMINALGROUPID' , 'PONO2'            ,
                                     'PONO3'       , 'PONO4'            , 'MVRBRANCHID'     , 'ODARCHIVEOWNERID' ,
                                     'POAMOUNT1'   , 'POAMOUNT2'        , 'POAMOUNT3'       , 'POAMOUNT4'        ,
                                     'PODATE2'     , 'PODATE3'          , 'PODATE4'         , 'BRANCHNAME2'      ,
                                     'BRANCHNAME3' , 'BRANCHNAME4'      , 'BANKID2'         , 'BANKID3'          ,
                                     'BANKID4'     , 'DEALERINFOID'     , 'PAYORDERAMOUNT2' , 'PAYORDERAMOUNT3' ], axis = 1)

# for challandetail tables 

df2ChallanDetail = df2ChallanDetail.drop([ 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' ], axis = 1)
df4ChallanDetail = df4ChallanDetail.drop([ 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' ], axis = 1)

df2AChallanDetail = df2AChallanDetail.drop([ 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' ], axis = 1)
df4AChallanDetail = df4AChallanDetail.drop([ 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' ], axis = 1)

df2ODAChallanDetail = df2ODAChallanDetail.drop([ 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' ], axis = 1)
df4ODAChallanDetail = df4ODAChallanDetail.drop([ 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' ], axis = 1)

# for ChargeSlab tables

df2ChargeSlab = df2ChargeSlab.drop([ 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' , 'ISSEAT' ,
                                     'ISCC'        , 'ISMULTI'  , 'ISLOADING' ], axis = 1)
df4ChargeSlab = df4ChargeSlab.drop([ 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' , 'ISSEAT' ,
                                     'ISCC'        , 'ISMULTI'  , 'ISLOADING' ], axis = 1)

# for Charge tables

df2Charge = df2Charge.drop([ 'UNLADENWEIGHTFROM' , 'UNLADENWEIGHTTO' , 'URGENTNORMAL' ,	'ISVALID'        ,
                             'UPDATEDDATE'       , 'ISACTIVE'        , 'LOGINID'	  , 'OLDVEHICLETYPE' ,	
                             'LOCALHIGHWAY'	     , 'CYCLEFOROLD'     , 'DESCRIPTION' ], axis =1)
df4Charge = df4Charge.drop([ 'UNLADENWEIGHTFROM' , 'UNLADENWEIGHTTO' , 'URGENTNORMAL' ,	'ISVALID'        ,
                             'UPDATEDDATE'       , 'ISACTIVE'        , 'LOGINID'	  , 'OLDVEHICLETYPE' ,	
                             'LOCALHIGHWAY'	     , 'CYCLEFOROLD'     , 'COPYID'       , 'DESCRIPTION' ], axis = 1)

# for Chagre Type Tables

df2ChargeType = df2ChargeType.drop([ 'ISPERCENT' , 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' ], axis = 1)
df4ChargeType = df4ChargeType.drop([ 'ISPERCENT' , 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' ], axis = 1)

# for Charge Assign Vehicle Type

df2ChargeAssignVehicleType = df2ChargeAssignVehicleType.drop([ 'ISACTIVE' , 'UPDATEDDATE' , 'LOGINID'], axis = 1)
df4ChargeAssignVehicleType = df4ChargeAssignVehicleType.drop([ 'ISACTIVE' , 'UPDATEDDATE' , 'LOGINID'], axis = 1)

# for Vehicle Category table

df2VehicleCat = df2VehicleCat.drop([ 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' , 'ISCHOICE'] , axis = 1)
df4VehicleCat = df4VehicleCat.drop([ 'UPDATEDDATE' , 'ISACTIVE' , 'LOGINID' , 'ISCHOICE'] , axis = 1)

# cleaning data for charge table

df2Charge.VEHICLECATEGORYID = df2Charge.VEHICLECATEGORYID.fillna(value = 6)
df2Charge.VEHICLECATEGORYID = df2Charge.VEHICLECATEGORYID.astype('int64')

df4Charge.VEHICLECATEGORYID = df4Charge.VEHICLECATEGORYID.fillna(value = 6)
df4Charge.VEHICLECATEGORYID = df4Charge.VEHICLECATEGORYID.astype('int64')

# cleaning data for Vehicle Category table

df2VehicleCat.VEHICLECATEGORYID = df2VehicleCat.VEHICLECATEGORYID.astype('int64')
df4VehicleCat.VEHICLECATEGORYID = df4VehicleCat.VEHICLECATEGORYID.astype('int64')

# joining CHARGE and Vehicle Category tables 

df2VehicleCat = df2VehicleCat.set_index('VEHICLECATEGORYID')
df4VehicleCat = df4VehicleCat.set_index('VEHICLECATEGORYID')

Charge2 = df2Charge.join(df2VehicleCat , lsuffix = '_C' , rsuffix= '_VC' , how = 'left' , on = 'VEHICLECATEGORYID')
Charge4 = df4Charge.join(df4VehicleCat , lsuffix = '_C' , rsuffix= '_VC' , how = 'left' , on = 'VEHICLECATEGORYID')

In [54]:
Charge2.head(1000)

C:\Users\umair\Anaconda3\lib\site-packages\dask\dataframe\core.py:4206: UserWarning: Insufficient elements for `head`. 1000 elements requested, only 461 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

,CHARGEID,TAXCLASS,VEHICLECATEGORYID,CYCLE,LOCALIMPORTED,SEATSFROM,SEATSTO,ENGINECAPACITYFROM,ENGINECAPACITYTO,NAME,EXMPT
0,1,1,1,2,0,0,4,0,999,PR,0
1,2,2,1,2,0,5,8,0,999,PR,0
2,3,3,1,4,0,9,10,0,999,PR,0
3,4,4,1,2,0,0,4,1000,1000,PR,0
4,5,5,1,2,0,5,8,1000,1000,PR,0
5,6,6,1,2,0,9,10,1000,1000,PR,0
6,7,7,1,2,0,0,4,1001,1199,PR,0
7,8,8,1,2,0,5,5,1101,1199,PR,0
8,9,9,1,2,0,5,8,1001,1199,PR,0
9,10,10,1,2,0,9,10,1001,1199,PR,0
10,11,11,1,2,0,12,12,1001,1199,PR,0
11,12,12,1,2,0,0,4,1200,1299,PR,0
12,13,13,1,2,0,5,5,1200,1299,PR,0
13,14,14,1,2,0,5,8,1200,1299,PR,0
14,15,15,1,2,0,9,10,1200,1299,PR,0
15,16,16,1,2,0,12,12,1200,1299,PR,0
16,17,17,1,2,0,0,4,1300,1300,PR,0
17,18,18,1,2,0,4,6,1301,1500,PR,0
18,19,19,1,2,0,4,6,1501,1599,PR,0
19,20,20,1,2,0,5,6,1600,1600,PR,0
20,21,21,1,2,0,12,12,1600,1600,PR,0
21,22,22,1,2,0,4,6,1600,1999,PR,0
22,23,23,1,2,0,5,6,1600,1999,PR,0
23,24,24,1,2,0,7,7,1600,1999,PR,0
24,25,25,1,2,0,5,8,1600,1999,PR,0
25,26,26,1,2,0,9,10,1600,1999,PR,0
26,27,27,1,2,0,12,12,1600,1999,PR,0
27,28,28,1,2,0,3,3,2000,2500,PR,0
28,29,29,1,2,0,0,4,2000,2500,PR,0
29,30,30,1,2,0,5,6,2000,2500,PR,0
...,...,...,...,...,...,...,...,...,...,...,...
431,443,999,1,0,0,0,0,2000,2000,PR,0
432,444,999,1,0,0,0,0,2001,2999,PR,0
433,445,999,1,0,0,0,0,3000,10000,PR,0
434,446,999,3,0,0,0,0,0,0,MC,0
435,447,999,3,0,0,0,0,0,0,MC,0
436,448,999,3,0,0,0,0,0,0,MC,0
437,449,999,3,0,0,0,0,0,0,MC,0
438,450,999,3,0,0,0,0,0,0,MC,0
439,451,999,3,0,0,0,0,0,0,MC,0
440,452,999,6,0,0,0,0,0,0,error,1
441,453,999,6,0,0,0,0,0,0,error,1
442,454,999,6,0,0,0,0,0,0,error,1
443,456,999,6,0,0,0,0,0,0,error,1
444,457,999,6,0,0,0,0,0,0,error,1
445,458,999,6,0,0,0,0,0,0,error,1
446,459,999,6,0,0,0,0,0,0,error,1
447,460,999,6,0,0,0,0,0,0,error,1
448,461,999,6,0,0,0,0,0,0,error,1
449,462,999,1,0,0,0,0,0,0,PR,0
450,463,999,1,0,0,0,0,0,0,PR,0
451,901,901,3,1,0,0,0,0,10,MC,0
452,902,1120,7,0,0,0,12,0,2999,Cover,1
453,903,1112,1,0,0,0,0,0,0,PR,0
454,905,999,3,0,0,0,0,796,1300,MC,0
455,906,999,3,0,0,0,0,1301,2500,MC,0
456,907,999,3,0,0,0,0,2501,50000,MC,0
457,908,999,3,0,0,0,0,0,3000,MC,0
458,909,999,3,0,0,0,0,0,0,MC,0
459,910,999,3,0,0,0,0,0,0,MC,0
460,911,1112,3,0,0,0,0,0,0,MC,0

In [48]:
Charge4.head()

,CHARGEID,TAXCLASS,VEHICLECATEGORYID,CYCLE,LOCALIMPORTED,SEATSFROM,SEATSTO,ENGINECAPACITYFROM,ENGINECAPACITYTO,NAME,EXMPT
0,1,001,1,4.0,0.0,0.0,4.0,0.0,999.0,PR,0.0
1,2,002,1,4.0,0.0,5.0,8.0,100.0,999.0,PR,0.0
2,3,003,1,4.0,0.0,9.0,10.0,0.0,999.0,PR,0.0
3,4,004,1,4.0,0.0,0.0,4.0,1000.0,1000.0,PR,0.0
4,5,005,1,4.0,0.0,5.0,8.0,1000.0,1000.0,PR,0.0

In [51]:
df2VehicleCat.head(10)

C:\Users\umair\Anaconda3\lib\site-packages\dask\dataframe\core.py:4206: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

                    NAME  EXMPT
VEHICLECATEGORYID
1                     PR      0
2                     CR      0
3                     MC      0
4                     GR      0
5                     EX      1
6                  error      1
7                  Cover      1